<div class="card">
    <h5>Lista de Alunos</h5>
    <p-table [value]="listagemAlunos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [tableStyle]="{'min-width': '50rem'}"
        currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">Nome</th>
                <th style="width:25%">Email</th>
                <th style="width:25%">Data Nascimento</th>
                <th style="width:25%">Categoria</th>
                <th style="width:25%">Plano</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listagemAlunos>
            <tr>
                <td>{{listagemAlunos.nome}}</td>
                <td>{{listagemAlunos.email}}</td>
                <td>{{listagemAlunos.data_nascimento | date}}</td>
                <td>{{listagemAlunos.nome}}</td>
                <td>{{listagemAlunos.nome}}</td>
            </tr>
        </ng-template>

    </p-table>
</div>
